html,
body {
  padding: 0;
  margin: 0;

  // Overwrite default bt5 vars
  --bs-body-font-family: Courier, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
